apiVersion: apps/v1
kind: Deployment
metadata:
  name: milestone-timeline
  labels:
    # app.kubernetes.io/name: milestone-timeline
    # app.kubernetes.io/instance: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      # app.kubernetes.io/name: milestone-timeline
      # app.kubernetes.io/instance: prod
  template:
    metadata:
      labels:
        # app.kubernetes.io/name: milestone-timeline
        # app.kubernetes.io/instance: prod
    spec:
      containers:
        - name: app
          image: cr.hday/image # cr.hday.io/hday/milestone-timeline:r0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
          envFrom:
            - secretRef:
                name: milestone-timeline-secrets
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "3000"
            - name: HOSTNAME
              value: "0.0.0.0"
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
          startupProbe:
            httpGet:
              path: /api/health
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 20
            failureThreshold: 3
      nodeSelector:
        kubernetes.io/arch: amd64
